@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webfont: Yekan */
/* https://github.com/ParsMizban/Yekan-Font */
@font-face {
    font-family: 'Yekan';
    src: url('/assets/Yekan-Font-3.0/Yekan.eot?#iefix') format('embedded-opentype'), url('/assets/Yekan-Font-3.0/Yekan.woff2') format('woff2'), url('/assets/Yekan-Font-3.0/Yekan.woff') format('woff'), url('/assets/Yekan-Font-3.0/Yekan.otf') format('opentype'), url('/assets/Yekan-Font-3.0/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

/* https://rastikerdar.github.io/vazirmatn/ */
@font-face {
    font-family: 'Vazirmatn';
    src: url('/assets/vazir/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('/assets/vazir/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Background of all pages */
.page-background {
    @apply bg-blue-50 dark:bg-gray-900
}

/* Primary buttons of pages */
.btn-primary {
    @apply text-white hover:bg-blue-400 hover:text-black transition-colors duration-300 uppercase rounded-md
    bg-blue-800 dark:bg-blue-600
}

/* Base of textfields */
.form-textfield {
    @apply shadow appearance-none border rounded leading-tight
    text-gray-800 dark:bg-gray-700 dark:text-white
}

.form-textfield:disabled {
    @apply dark:bg-gray-900 cursor-not-allowed
}

.search-textfield {
    @apply appearance-none text-gray-700 leading-tight leading-tight p-1
}

/* Simple link */
.link {
    @apply text-blue-700 no-underline hover:underline dark:text-blue-500
}

.form-label {
    @apply block text-gray-800 font-bold mb-2 dark:text-gray-50
}

.search-result-text {
    @apply block px-4 py-2 text-sm cursor-pointer
    transition-colors duration-100
    text-gray-700 hover:bg-gray-200 hover:text-gray-900
    dark:text-gray-50 dark:hover:bg-gray-700 dark:hover:text-gray-100
}

.search-suggestion-placeholder {
    @apply absolute z-10 right-0 mt-2 origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 text-right font-vazir
    transition duration-150 transform w-full
    bg-gray-50 dark:bg-gray-900
}

/* Main container in all pages */
.main-container {
    @apply max-w-full lg:max-w-[990px] xl:max-w-[1200px] w-full p-4
}

/* Invalid input */
.invalid-input {
    @apply border-red-500
}

.tag-label {
    font-size: 1rem;
    @apply font-normal px-3 bg-gray-400 dark:bg-gray-800 mx-1.5 text-center rounded
}