@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webfont: Yekan */
/* https://github.com/ParsMizban/Yekan-Font */
@font-face {
    font-family: 'Yekan';
    src: url('/assets/Yekan-Font-3.0/Yekan.eot?#iefix') format('embedded-opentype'), url('/assets/Yekan-Font-3.0/Yekan.woff2') format('woff2'), url('/assets/Yekan-Font-3.0/Yekan.woff') format('woff'), url('/assets/Yekan-Font-3.0/Yekan.otf') format('opentype'), url('/assets/Yekan-Font-3.0/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}