@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webfont: Yekan */
/* https://github.com/ParsMizban/Yekan-Font */
@font-face {
    font-family: 'Yekan';
    src: url('/assets/Yekan-Font-3.0/Yekan.eot?#iefix') format('embedded-opentype'), url('/assets/Yekan-Font-3.0/Yekan.woff2') format('woff2'), url('/assets/Yekan-Font-3.0/Yekan.woff') format('woff'), url('/assets/Yekan-Font-3.0/Yekan.otf') format('opentype'), url('/assets/Yekan-Font-3.0/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

/* https://rastikerdar.github.io/vazirmatn/ */
@font-face {
    font-family: 'Vazirmatn';
    src: url('/assets/vazir/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('/assets/vazir/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Background of all pages */
.page-background {
    @apply bg-blue-50 dark:bg-gray-900
}

/* Primary buttons of pages */
.btn-primary {
    @apply bg-blue-800 text-white hover:bg-blue-400 hover:text-black transition-colors duration-300 uppercase rounded-md
}

/* Base of textfields */
.form-textfield {
    @apply shadow appearance-none border rounded text-gray-700 leading-tight
}

.search-textfield {
    @apply appearance-none text-gray-700 leading-tight leading-tight p-1
}

/* Simple link */
.link {
    @apply text-blue-700 no-underline hover:underline
}

.form-label {
    @apply block text-gray-700 font-bold mb-2
}

.search-result-text {
    @apply text-gray-700 hover:bg-gray-200 hover:text-gray-900 block px-4 py-2 text-sm cursor-pointer
}

.search-suggestion-placeholder {
    @apply absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-gray-50 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-right font-vazir
}